<div>
  <h2 id="page-heading" data-cy="VariableHeading">
    <span jhiTranslate="serverApp.variable.home.title">Variables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="serverApp.variable.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="variables?.length === 0">
    <span jhiTranslate="serverApp.variable.home.notFound">No variables found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="variables && variables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="plageMax">
            <span jhiTranslate="serverApp.variable.plageMax">Plage Max</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <span jhiTranslate="serverApp.variable.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lue"><span jhiTranslate="serverApp.variable.lue">Lue</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="consulter.login">
            <span jhiTranslate="serverApp.variable.consulter">Consulter</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let variable of variables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/variable', variable.id, 'view']">{{ variable.id }}</a>
          </td>
          <td>{{ variable.plageMax }}</td>
          <td>{{ variable.dateCreation | formatMediumDatetime }}</td>
          <td>{{ variable.lue }}</td>
          <td>
            {{ variable.consulter?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/variable', variable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="variables && variables.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
