<div>
  <h2 id="page-heading" data-cy="SerrureHeading">
    <span jhiTranslate="serverApp.serrure.home.title">Serrures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="serverApp.serrure.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-serrure"
        [routerLink]="['/serrure/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="serverApp.serrure.home.createLabel"> Create a new Serrure </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="serrures?.length === 0">
    <span jhiTranslate="serverApp.serrure.home.notFound">No serrures found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="serrures && serrures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libelle">
            <span jhiTranslate="serverApp.serrure.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dimension">
            <span jhiTranslate="serverApp.serrure.dimension">Dimension</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="equipement.id">
            <span jhiTranslate="serverApp.serrure.equipement">Equipement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serrure of serrures; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/serrure', serrure.id, 'view']">{{ serrure.id }}</a>
          </td>
          <td>{{ serrure.libelle }}</td>
          <td>{{ serrure.dimension }}</td>
          <td>
            <div *ngIf="serrure.equipement">
              <a [routerLink]="['/equipement', serrure.equipement?.id, 'view']">{{ serrure.equipement?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/serrure', serrure.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/serrure', serrure.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(serrure)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="serrures && serrures.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
