<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="variable">
      <h2 data-cy="variableDetailsHeading"><span jhiTranslate="serverApp.variable.detail.title">Variable</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ variable.id }}</span>
        </dd>
        <dt><span jhiTranslate="serverApp.variable.plageMax">Plage Max</span></dt>
        <dd>
          <span>{{ variable.plageMax }}</span>
        </dd>
        <dt><span jhiTranslate="serverApp.variable.dateCreation">Date Creation</span></dt>
        <dd>
          <span>{{ variable.dateCreation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="serverApp.variable.lue">Lue</span></dt>
        <dd>
          <span>{{ variable.lue }}</span>
        </dd>
        <dt><span jhiTranslate="serverApp.variable.consulter">Consulter</span></dt>
        <dd>
          <span>{{ variable.consulter?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
